body{
    font-family: Arial, Helvetica, sans-serif;
}
.main-title {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5vmin;
}
.menu-links{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4vmin;
    font-weight:600;
}

.back-home-button{
    border: 10px;
    border-color: black;
    border-radius:10px;
    height: 5vmin;
}
.back-home-button{
    border: 10px;
    border-color: black;
    border-radius:10px;
    height: 5vmin;
}
